<div class=" content">
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="term" placeholder="pesquise aqui!...">
  </div>
  <button class=" btn btn-fill btn-danger float-right" routerLink="/nova-noticia">Inserir noticia</button>
  <div class="clearfix"></div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmação</h4>
        </div>
        <div class="modal-body">
          <p>Têm certeza que remover {{name}} </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closePopup()">
            Cancelar
          </button>
          <button type="button" class="btn btn-danger float-right" (click)="remove(removeID)">
            Remover
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Todas noticias</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Titulo</th>
                  <th>Sub Titulo</th>
                  <th>Status</th>
                  <th class=" text-center">Acções</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngIf="loading;else showTable">
                  <td [attr.colspan]="5"><span class="loader"></span></td>
                </tr>
                <ng-template #showTable>
                  <tr *ngFor="let noticia of noticias | filter: term | slice:limitStart:limitEnd; let i = index">
                    <td>{{noticia.title}}</td>
                    <td>{{noticia.subTitle}}</td>
                    <td>{{noticia.status}}</td>
                    <td class=" text-center">
                      <div data-toggle="buttons" class="btn-group btn-group-toggle">
                        <label class="btn btn-sm btn-warning btn-simple" [routerLink]="['/nova-noticia', noticia.id]">
                          <input name="options" type="radio" class="d-none d-sm-none">
                          <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Editar</span>
                          <span class="d-block d-sm-none">
                            <i class="tim-icons icon-gift-2"></i>
                          </span>
                        </label>
                        <label class="btn btn-sm btn-danger btn-simple"><input name="options" type="radio"
                            class="d-none" (click)="openPopup(noticia.title,noticia.id, i)"><span
                            class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
                            remover
                          </span><span class="d-block d-sm-none"><i class="tim-icons icon-tap-02"></i></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
            <nav>
              <ul class="pagination pagination-sm">
                <li class="page-item" *ngFor="let btn of buttons; let index = index"><a class="page-link"
                    (click)="onClick(btn.start, btn.end)">{{index}}</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
